<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mahadevan Subramanian</title>
	<meta name="keywords" content="{{ site.keywords }}">
	<meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="combo.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="https://mahadevans2432.github.io/img/favicon.ico" type="image/x-icon">
<style>
body {
  background-image: url(https://raw.githubusercontent.com/mahadevans2432/mahadevans2432.github.io/master/img/dark%20background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
/*  color: white;*/
  display: none;
  padding: 100px 20px;
  height: 100%;
}

</style>

</head>
<body>
  <div id="main">

    <!--
    <nav><ul>
      {% for node in site.posts reversed %}
        {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
        <li class="p-{{id}}"><a href="#{{id}}">{{node.title}}</a></li>
      {% endfor %}
    </ul></nav>
-->



    <nav><ul>
      
        <li class="p-intro active"><a href="https://mahadevans2432.github.io">home</a></li>
        
        <li class="p-about-me"><a href="https://mahadevans2432.github.io/about-me.html">About me</a></li>
        
        <li class="p-projects"><a href="https://mahadevans2432.github.io/projects.html">My Projects</a></li>
        
        <li class="p-contact-me"><a href="https://mahadevans2432.github.io/contact-me.html">Contact me</a></li>

        <li class="p-projects"><a href="https://mahadevans2432.github.io/misc.html">Miscallaneous</a></li>
      
    </ul></nav>


    
      
      <div id="about-me" class="section p-about-me">
        
        <!-- <div class="subtlecircle sectiondivider faicon">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-user fa-stack-1x"></i>
          </span>
          <h5 class="icon-title">About me</h5>
        </div> -->
        
        <div class="container center">

        <h1 class="text-white">About Me</h1>
          <p>I am currently a first year undergraduate at IIT Bombay doing a B.Tech in Engineering Physics.
My main interests are Quantum Information and Computing and Quantum Measurement Theory.
You can find the list of the courses I have taken and am taking <a href="https://mahadevans2432.github.io/courses.html">here</a>.
I am a math and physics enthusiast and am currently working as a convener in the <a href="http://mnp-club.github.io/">Math and Physics Club, IIT Bombay</a>
I also love music and play the keyboard and also produce music using FL Studio 20 as my DAW. You can find my creations <a href="https://soundcloud.com/dfr-music">here</a>.</p>

        </div>
      </div>



    <div id="footer" class="section text-white">
      <div class="container">
        {% capture foottext %} {% include footer.md %} {% endcapture %}
        {{ foottext | markdownify }}
      </div>
    </div>
  </div>

<!-- <script>
function openPage(pageName,elmnt,color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script> -->


{% include analytics.html %}
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="site.js"></script>
</html>
