---
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="combo.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
  {% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}

<style>
body {
  background-image: url(https://raw.githubusercontent.com/mahadevans2432/mahadevans2432.github.io/master/img/dark%20background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



</style>

</head>
<body>
  <div id="main">



    <nav><ul>
      
        <li class="p-intro active"><a href="index.html">Home</a></li>
        
        <li class="p-about-me"><a href="about-me.html">About me</a></li>

        <li class="p-acads active"><a href="misc.html">Academics</a></li>
        
        <li class="p-projects"><a href="projects.html">Projects</a></li>
        
        <li class="p-contact-me"><a href="contact-me.html">Contact me</a></li>
      
    </ul></nav>

 
      <div id="acads" class="section p-acads">
        
        <div class="container">
          <p class="center">I am a student in the <a href="https://www.phy.iitb.ac.in/">Department of Physics, IIT Bombay</a> pursuing a B.Tech in Engineering Physics. I have completed three semesters of study and have a cumulative performance index of 9.48 out of 10 and have a department rank of 4 in the batch of 50 students. I am currently a teaching assistant for the course PH 107 (Quantum physics and application) where I conduct weekly tutorial sessions for a class of 40 first year students.</p>
          
          <h2 class="text-white"><em>List of courses I have taken or am taking</em></h2>
          <p>Courses marked with a * are ongoing courses.</p>

          <h3 class="text-white">Department of Physics</h3>
          <ul>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20567">PH 567 - Non linear Dynamics</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20219">PH 219 - Data Analysis and Interpretation</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20217">PH 217 - Classical Mechanics</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20215">PH 215 - Thermal Physics</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20207">PH 207 - Introduction to Special Relativity</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20117">PH 117 - Physics Lab</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20108">PH 108 - Basics of Electricity & Magnetism</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20107">PH 107 - Quantum Physics and Application</a></li>
          </ul>


        </div>
      </div>
    


     <div id="footer" class="section text-white">
      <div class="container">
        <a class="btn btn-dark btn-social mx-2 p-1" href="https://github.com/mahadevans2432"><i class="fa fa-github"></i></a><a class="btn btn-dark btn-social mx-2 p-1" href="https://www.facebook.com/profile.php?id=100010435631844"><i class="fa fa-facebook"></i></a><a class="btn btn-dark btn-social mx-2 p-1" href="https://www.linkedin.com/in/mahadevan-subramanian-a3b4291a8/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="container"><p>Mail me here: <a href="mailto:190260027@iitb.ac.in">190260027@iitb.ac.in</a>, <a href="mailto:mahadevan.subramanian2432@gmail.com">mahadevan.subramanian2432@gmail.com</a></p></div>
      <div class="container"><p>Mahadevan Subramanian - 2020</p></div>
    </div>
  </div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="site.js"></script>
</html>
