---
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="combo.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
  {% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}

<style>
body {
  background-image: url(https://raw.githubusercontent.com/mahadevans2432/mahadevans2432.github.io/master/img/dark%20background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



</style>

</head>
<body>
  <div id="main">



    <nav><ul>
      
        <li class="p-intro"><a href="index.html">Home</a></li>
        
        <li class="p-about-me"><a href="about-me.html">About me</a></li>

        <li class="p-acads active"><a href="acads.html">Academics</a></li>
        
        <li class="p-projects"><a href="projects.html">Projects</a></li>
        
        <li class="p-contact-me"><a href="contact-me.html">Contact me</a></li>
      
    </ul></nav>

 
      <div id="acads" class="section p-acads">
        
        <div class="container">
          <h1>Academics</h1>
          <p class="center">I am a student in the <a href="https://www.phy.iitb.ac.in/">Department of Physics, IIT Bombay</a> pursuing a B.Tech in Engineering Physics. I have completed seven semesters of my B.Tech and have a cumulative performance index of 9.79 out of 10. I have been awarded the Institute Academic Prize for exemplary performance in the academic year 2020-21 and 2021-22.<br> 
          I have been a teaching assistant for the course PH 107 (Quantum physics and application) where I conducted weekly tutorial sessions for a class of 40 first year students and correct course quizzes and exams.</p>

          <h2 class="text-white center">Courses I have been a TA for</h2>
          <ul>
            <li><b>Quantum Physics and Application</b> (PH 107), Department of Physics IIT Bombay. Course instructor: Prof. CV Tomy. <a href="https://mahadevans2432.github.io/files/PH107_Tutorial_Solutions.pdf">Some notes I made for it</a></li>
          </ul>
          
          <h2 class="text-white center">Relevant Courses I have taken or am taking</h2>
          <!-- <p>Courses marked with an asterisk (*) are ongoing courses and will finish in Spring 2023.</p> -->

          <h3 class="text-white">Physics courses</h3>
            <ul>
              <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=EE%20755">EE 755 - Quantum Transport in Nanoscale Devices</a></li>
              <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20534">PH 534 - Quantum Information and Computing</a></li>
              <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20563">PH 563 - Group Theory Methods</a></li>
              <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20567">PH 567 - Non linear Dynamics</a></li>
              <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20544">PH 544 - General Theory of Relativity</a></li>
              <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20515">PH 515 - Introduction to Atomic and Molecular Physics*</a></li>
              <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20517">PH 517 - Methods in Analytical Techniques*</a></li>
              <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20505">PH 505 - Introduction to Nuclear & Particle Physics*</a></li>
              <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20438">PH 436 - Introduction to Condensed Matter Physics</a></li>
              <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20444">PH 444 - Electromagnetic Theory</a></li>
              <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20438">PH 438 - Statistical Physics</a></li>
              <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20421">PH 421 - Photonics</a></li>
              <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20423">PH 423 - Quantum Mechanics II</a></li>
              <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20204">PH 204 - Quantum Mechanics I</a></li>
              <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20202">PH 202 - Waves & Oscillations & Optics</a></li>
            </ul>

          <h3 class="text-white">Computer science courses</h3>
          <ul>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=CS%20419">CS 419 - Introducing to Machine Learning</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=CS%20218">CS 218 - Design and Analysis of Algorithms</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=CS%20213">CS 213 - Data Structures and Algorithms</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=CS%20228">CS 228 - Logic in CS</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=CS%20101">CS 101 - Computer Programming and Utilization</a></li>
          </ul>

          <h3 class="text-white">Mathematics courses</h3>
          <ul>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=MA%20214">MA 214 - Introduction to Numerical Analysis</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=MA%20207">MA 207 - Differential Equations 2</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=MA%20205">MA 205 - Complex Analysis</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=MA%20106">MA 106 - Linear Algebra</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=MA%20105">MA 105 - Calculus</a></li>
          </ul>

          <h3 class="text-white">Other courses</h3>
          <ul>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20447">PH 447 - Physics Lab (Optics and Spectroscopy)</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20446">PH 446 - Physics Laboratory (Solid state and Nuclear Physics)</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20435">PH 435 - Electronics Lab IV (Microprocessors)</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20230">PH 230 - Electronics Lab III (Digital Electronics)</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20233">PH 233 - Electronics Lab II (Op amp circuits)</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=PH%20231">PH 231 - Electronics Lab I (Basic circuits)</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=EE%20224">HS 301 - Introduction to Philosophy</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=EE%20224">HS 101 - Economics</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=EE%20224">EE 224 - Digital Systems</a></li>
            <li><a href="http://www.iitb.ac.in/acadpublic/crsedetail.jsp?ccd=CH%20107">CH 107 - Physical Chemistry</a></li>
          </ul>

          <h3 class="text-white">MOOCs</h3>
          <ul>
            <li><a href="https://www.coursera.org/account/accomplishments/specialization/certificate/SFPDY2HBRVV9">Deeplearning Specialization</a> of <a href="https://www.deeplearning.ai/">deeplearning.ai</a> (Coursera)</li>
          </ul>

        </div>
      </div>
    


     <div id="footer" class="section text-white">
      <div class="container">
        <a class="btn btn-dark btn-social mx-2 p-1" href="https://github.com/mahadevans2432"><i class="fa fa-github"></i></a><a class="btn btn-dark btn-social mx-2 p-1" href="https://www.facebook.com/profile.php?id=100010435631844"><i class="fa fa-facebook"></i></a><a class="btn btn-dark btn-social mx-2 p-1" href="https://www.linkedin.com/in/mahadevan-subramanian-a3b4291a8/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="container"><p>Mail me here: mahadevan_s[at]iitb.ac.in, mahadevan.subramanian2432[at]gmail.com</div>
      <div class="container"><p>Mahadevan Subramanian - 2023</p></div>
    </div>
  </div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="site.js"></script>
</html>
