---
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
	<meta name="keywords" content="{{ site.keywords }}">
	<meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="combo.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
	{% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}

<style>
body {
  background-image: url(https://raw.githubusercontent.com/mahadevans2432/mahadevans2432.github.io/master/img/dark%20background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

</style>

</head>
<body>
  <div id="main">

    <!--
    <nav><ul>
      {% for node in site.posts reversed %}
        {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
        <li class="p-{{id}}"><a href="#{{id}}">{{node.title}}</a></li>
      {% endfor %}
    </ul></nav>
-->



    <!-- <nav><ul>
      
        
        <li class="p-intro active"><a href="https://mahadevans2432.github.io/#intro">home</a></li>
      
        
        <li class="p-about-me"><a href="https://mahadevans2432.github.io/#about-me">About me</a></li>
      
        
        <li class="p-projects"><a href="https://mahadevans2432.github.io/#projects">My Projects</a></li>
      
        
        <li class="p-contact-me"><a href="https://mahadevans2432.github.io/#contact-me">Contact me</a></li>
      
    </ul></nav> -->

    <button class="tablink" onclick="openPage('intro', this)">Home</button>
    <button class="tablink" onclick="openPage('about-me', this)">About Me</button>
    <button class="tablink" onclick="openPage('projects', this)">My Projects</button>
    <button class="tablink" onclick="openPage('contact-me', this)">Contact Me</button>



    <!-- {% for page in site.posts reversed %}
      {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
      <div id="{{id}}" class="section p-{{id}}">
        {% if page.icon %}
        <div class="subtlecircle sectiondivider imaged">
          <img src="{{page.icon}}" alt="section icon" />
          <h5 class="icon-title">{{ page.title }}</h5>
        </div>
        {% elsif page.fa-icon %}
        <div class="subtlecircle sectiondivider faicon">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-{{ page.fa-icon }} fa-stack-1x"></i>
          </span>
          <h5 class="icon-title">{{ page.title }}</h5>
        </div>
        {% endif %}
        <div class="container {{ page.style }}">
          {{ page.content }}
        </div>
      </div>
    {% endfor %} -->


      <div id="intro" class="section p-intro">
        
        <div class="container center">
          <p><span class="fa-stack subtlecircle" style="font-size:117px; background:rgba(0,0,0,0.1)">
  <img src="https://raw.githubusercontent.com/mahadevans2432/mahadevans2432.github.io/master/img/circle-cropped.png" class="myimg">
</span></p>
<h1 class="text-white"><em>Hello There</em></h1>

<h1>Welcome to my Homepage :)</h1>
<p class="text-white">My name is Mahadevan Subramanian, I am an Engineering Physics undergrad at IIT Bombay.</p>


        </div>
      </div>
    
      
      <div id="about-me" class="section p-about-me">
        
        <div class="subtlecircle sectiondivider faicon">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-user fa-stack-1x"></i>
          </span>
          <h5 class="icon-title">About me</h5>
        </div>
        
        <div class="container ">
          <p>I am currently a first year undergraduate at IIT Bombay doing a B.Tech in Engineering Physics.
My main interests are Quantum Information and Computing and Quantum Measurement Theory.
You can find the list of the courses I have taken and am taking <a href="https://mahadevans2432.github.io/courses.html">here</a>.
I am a math and physics enthusiast and am currently working as a convener in the <a href="http://mnp-club.github.io/">Math and Physics Club, IIT Bombay</a>
I also love music and play the keyboard and also produce music using FL Studio 20 as my DAW. You can find my creations <a href="https://soundcloud.com/dfr-music">here</a>.</p>

        </div>
      </div>
    
      
      <div id="projects" class="section p-projects">
        
        <div class="subtlecircle sectiondivider faicon">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-pencil fa-stack-1x"></i>
          </span>
          <h5 class="icon-title">My Projects</h5>
        </div>
        
        <div class="container ">
          <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="custom-column">
        <div class="custom-column-header">Quantum Information and Computing, Summer of Science</div>
        <div class="custom-column-content">
          <p>This was the subject I took for the Summer of Science 2020 initiative of the MnP Club IIT Bombay. You can find my report <a href="https://github.com/mahadevans2432/Quantum-Information-and-Computing-SoS-2020">here</a>. I also took part in the IBM Quantum Challenge and got to learn how to use qiskit and was able to complete the challenge. You can find my repository for it <a href="https://github.com/mahadevans2432/IBM-Quantum-Challenge">here</a>.
    </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="custom-column">        
        <div class="custom-column-header">Literature review of measurement theory in quantum mechanics</div>
        <div class="custom-column-content">
          <p>This is an ongoing project which I am doing under <a href="http://ether.chem.iitb.ac.in/people/Faculty/prof/ajain.html">Prof. Amber Jain</a> as the Summer Undergraduate Research Project. We are currently reading literature concerning different interpretations of quantum mechanics including Bohmian Mechanics and the Many Worlds Interpretation and objective collapse theories and also some interesting gedanken experiments which propose breaking points of these interpretations.
    </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="custom-column">
        <div class="custom-column-header">Neural Network for identifying diseases in apple leaves</div>
        <div class="custom-column-content">
          <p>This is a project for the Institute Technical Summer Project in which our team has built a tensorflow model which would look at a dataset of images of the leaves of apple trees. The model is built using transfer learning and we also used image augmentation. This was actually part of a <a href="https://www.kaggle.com/c/plant-pathology-2020-fgvc7/overview">kaggle competition</a> and we obtained our data from there. The teams repository is available <a href="https://github.com/Leaf-Scrutiny-Department">here</a> and this is the <a href="https://leafscrutinydepartment-test.herokuapp.com/">website of the project</a>.
    </p>
  </div>
        </div>
      </div>
    </div>
  </div>

        </div>
      </div>
    
      
      <div id="contact-me" class="section p-contact-me">
        
        <div class="subtlecircle sectiondivider faicon">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-send fa-stack-1x"></i>
          </span>
          <h5 class="icon-title">Contact me</h5>
        </div>
        
        <div class="container ">
          <p><a href="https://www.facebook.com/profile.php?id=100010435631844" class="fa fa-facebook"></a>
<a href="https://www.linkedin.com/in/mahadevan-subramanian-a3b4291a8/" class="fa fa-linkedin"></a>
My email address is <a href="https://mahadevans2432.github.io/mahadevan.subramanian2432@gmail.com">mahadevan.subramanian2432@gmail.com</a> and <a href="https://mahadevans2432.github.io/190260027@iitb.ac.in">190260027@iitb.ac.in</a></p>

        </div>
      </div>


    <div id="footer" class="section text-white">
      <div class="container">
        {% capture foottext %} {% include footer.md %} {% endcapture %}
        {{ foottext | markdownify }}
      </div>
    </div>
  </div>

<script>
function openPage(pageName,elmnt,color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>


{% include analytics.html %}
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="site.js"></script>
</html>
